<div class="text-center border p-4 pb-4 ml-lg-4">
  <div class="mb-2">
    <%= profile_picture user %>
  </div>
  <h3 class="h4"><%= user.full_name%></h3>
  <p><%= user.company%></p>

  
  <div class="row">

    <div class="col-md pl-1">
      <div class="btn btn-block btn-success  text-uppercase" data-toggle="modal" data-target="#contact-modal">Contact</button>
    </div>
  </div>
</div>